<form id="grid" autocomplete="off" appPreventDefault appStopPropagation>
  <div class="flex-container" *ngFor="let word of sentence.split(' '), let i = index">
    <ng-container *ngFor="let letter of word.split(''), let j = index">
      <div class="flex-item">
        <input id="{{i}}{{j}}" class="letter" type="text" pattern="[a-zA-Z0-9]+" maxlength="1" appStopPropagation appPreventDefault checkLetter (newIdEvent)='onNewId($event)'>
      </div>
      <ng-container *ngIf="(j === word.length -1) && (i < sentence.split(' ').length -1)">
        <div class="flex-item" >
          <input id="space-{{i}}" class="space" type="text"  pattern="[a-zA-Z0-9]+" maxlength="1"  appPreventDefault checkLetter (newIdEvent)='onNewId($event)'>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div *ngIf="challengeComplete" class="flex-item">
    <input type="submit" value="Next"  (click)="onClick()">
  </div>
</form>
